        .stage {
            height: 11rem;
            width: auto;
            transition: height 5s ease;
            polygon {
                stroke: rgba(175, 216, 244, 1);
                stroke-width: 6;
                transition: fill 0.5s ease-in-out;
            }
            &.active {
                height: 14rem;
                polygon {
                    stroke: white;
                    stroke-width: 6;
                    transition: fill 10s ease-in-out;
                }
                .heavy {
                    fill: yellow;
                }
            }
            .heavy {
                font: bold 140px sans-serif;
                fill: rgba(175, 216, 244, 1);
            }
        }
        
        .stop1 {
            stop-color: rgba(168, 54, 4, 1);
        }
        
        .stop2 {
            stop-color: rgba(244, 132, 7, 1);
        }
        
        .polygon-active {
            fill: url(#header-shape-gradient);
        }
        
        .polygon-inactive {
            fill: rgba(255, 255, 255, 0);
        }