.champion-text {
    font-family: 'Great Vibes', cursive;
    font-size: 48px;
    color: gold;
}

.qpuc-card {
    height: 20rem;
    width: 100%;
    display: flex;
    backface-visibility: hidden;
}

.frontcard {
    @extend .qpuc-card;
    background-color: red;
    animation: flipcard 5s ease-in;
    &.nonactive {
        display: none;
    }
}

.backcard {
    @extend .qpuc-card;
    background-color: cyan;
    animation: flipcard 1s ease-in;
    &.nonactive {
        display: none;
    }
}

@keyframes flipcard {
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(180deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}