.champion-text {
    font-family: 'Great Vibes', cursive;
    font-size: 48px;
    color: gold;
}

.qpuc-card {
    height: 20rem;
    width: 100%;
    display: flex;
    backface-visibility: hidden;
    border-radius: 1rem;
    /* Coins arrondis */
    background: linear-gradient(180deg, #FFD700 0%, #FF8C00 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: flipcard 5s ease-in;
}

.frontcard {
    @extend .qpuc-card;
    &.nonactive {
        display: none;
    }
}

.backcard {
    @extend .qpuc-card;
    &.nonactive {
        display: none;
    }
}

@keyframes flipcard {
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(180deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}