    body {
        font-family: Arial, sans-serif;
        background: radial-gradient(circle at center, #0a0f38, #020617) !important;
    }
    
     :root {
        font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
        line-height: 1.5;
        font-weight: 400;
        color-scheme: light dark;
        color: rgba(255, 255, 255, 0.87);
        background-color: #242424;
        font-synthesis: none;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        --bs-heading-color: #fff !important;
    }
    
    a {
        font-weight: 500;
        color: #646cff;
        text-decoration: inherit;
    }
    
    a:hover {
        color: #535bf2;
    }
    
    body {
        margin: 0;
        display: flex;
        padding-top: 4rem;
        min-width: 320px;
        min-height: 100vh;
    }
    
    h1 {
        font-size: 3.2em;
        line-height: 1.1;
    }
    
    div,
    p {
        color: #fff;
        font-size: 1rem;
    }
    
    button {
        border-radius: 8px;
        border: 1px solid transparent;
        padding: 0.6em 1.2em;
        font-size: 1em;
        font-weight: 500;
        font-family: inherit;
        background-color: #1a1a1a;
        cursor: pointer;
        transition: border-color 0.25s;
    }
    
    button:hover {
        border-color: #646cff;
    }
    
    button:focus,
    button:focus-visible {
        outline: 4px auto -webkit-focus-ring-color;
    }
    
    @media (prefers-color-scheme: light) {
         :root {
            color: #213547;
            background-color: #ffffff;
        }
        a:hover {
            color: #747bff;
        }
        button {
            background-color: #f9f9f9;
        }
    }
    
    .card {
        flex-grow: 1;
        animation: flipcard 0.5s ease-in alternate;
        .title {
            font-size: 2.5rem;
            font-weight: bold;
        }
        .card-body {
            background: linear-gradient(180deg, #FFD700 0%, #FF8C00 100%);
            text-align: left;
        }
        &.nonactive {
            display: none;
        }
    }
    
    @keyframes flipcard {
        0% {
            transform: rotateY(180deg);
        }
        100% {
            transform: rotateY(0deg);
        }
    }
    
    .champion-text {
        font-family: 'Great Vibes', cursive;
        font-size: 58px;
        list-style: 1rem;
        color: #fff;
    }
    
    @media (max-width: 767px) {
        body {
            padding-top: 2rem;
        }
    }
    
    @media (max-width: 767px) {
        .champion-text {
            font-size: 2rem;
        }
        .card {
            min-height: 25rem;
            margin-top: 2rem !important;
            .title {
                font-size: 1.3rem;
            }
        }
    }